
.aboutme {
    background-color: #313437;
    height: 100%;
    display: flex;
    color: white;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aboutme__left {
    background-color: #313437;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme__frame {
    height: 16vw;
    width: 16vw;
    border-radius: 1000000px;
    background: linear-gradient(#FCFBFD, #CECDD8);
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 220px;
    max-width: 220px;
}

.aboutme__frameinner {
    height: 14.5vw;
    width: 14.5vw;
    border-radius: 10000000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    max-width: 200px;
}

.aboutme__frameinner img {
    max-width: 120%;
}

.aboutme__right {
    background-color: #313437;
    flex: 1.3;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.aboutme__name {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 10%;
}

.aboutme__name h1 {
    font-weight: 900;
    font-size: 2rem;
    padding-right: 10px;
}

.aboutme__name h2 {
    margin: unset;
    font-weight: 300;
    font-size: 2.5rem;
}

.aboutme__header h3 {
    margin: unset;
    font-size: .6rem;
}

.aboutme__body {
    margin-top: 25px;
    font-size: 1rem;
    line-height: 1.4rem;
    overflow: scroll;
    margin-right: 50px;
    min-height: 100px;
    position: absolute;
    bottom: 50px;
    top: 25%;
}

.aboutme__footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 10%;
    min-height: 50px;
    background-color: #313437;
    width: 100%;
}

.aboutme__footer div{
    margin-top: 15px;
    margin-right: 15px;
    padding-top: none;
    background-color: #65686A;
    font-size: .8rem;
    padding: 0px 10px;
    border-radius: 3px;
    cursor: pointer;
    max-height: 16px;
}
