
.contact {
    height: 100%;
    width: 100%;
    display: flex;
}

.contact__left {
    background-color: red;
    height: 100%;
    width: 65%;
}

.contact__right {
    background-color: green;
    height: 100%;
    width: 35%;
}