
.contact {
    height: 100%;
    width: 100%;
    display: flex;
}

.contact__left {
    background-color: #313437;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__left h1 {
    font-size: 2rem;
    padding-bottom: 20px;
    color: #F7F8F9;
    font-weight: 400;
}

.contact__right {
    background-color: #313437;
    height: 100%;
    width: 35%;
}

.contact__email, .contact__phone, .contact__social {
    height: 33.2%;
    width: 100%;
    background-color: #313437;
    color: #AFAFAF;
    display: flex;
    align-items: center;
}

.email__info, .phone__info, .social__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-left: 25px;
}

.email__info h1, .phone__info h1, .social__info h1 {
    color: #F7F8F9;
    font-weight: 600;
}

.email__info h2, .phone__info h2, .social__info h2 {
    font-size: .9rem;
    font-weight: 400;
    padding-top: 5px;
}


.contact__form {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.form__top {
    display: flex;
}

.form__bottom {
    width: 100%;
    margin-top: 10px;
}

.form__bottom .form {
    width: 100%;
    height: 200px;
}

.spacer {
    width: 10px;
}

.contact__divider {
    width: 80%;
    height: 1px;
    background-color: #AFAFAF;
    margin-left: auto;
    margin-right: auto;
}

/* Input Animations */

.form {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    border: none;
    outline: none;
    background-color: #242424;
}

.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    color: #AFAFAF;
}

.form label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5AC8FA;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
    transform: translateY(-120%);
    font-size: 14px;
    color: #F7F8F9;
    font-weight: bold;
}

.form input:focus {
    background-color: #372F2F;
}

input, select, textarea{
    color: #F7F8F9;
}

.form textarea:focus + .label-name .content-name, .form textarea:valid + .label-name .content-name {
    transform: translateY(-1000%);
    font-size: 14px;
    color: #F7F8F9;
    font-weight: bold;
}

.form textarea:focus {
    background-color: #372F2F;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after {
    transform: translateX(0%);
}

.form textarea:focus + .label-name::after, .form textarea:valid + .label-name::after {
    transform: translateX(0%);
}

.form textarea {
    padding-top: 25px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 3px solid #242424;
    margin-bottom: 20px;
    background-color: #242424;
    resize: none;
}

.contact__form input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #4B4B4C;
    color: #E3E4E3;
    margin-bottom: 0;
    text-transform: uppercase;
    width: 40%;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius);
}
