
.dropdown {
  position: absolute;
  top: 30px;
  left: 162px;
  width: 280px;
  transform: translateX(-45%);
  background-color: rgba(37,37,38,0.8);
  border: var(--border);
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: .2rem 0;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu-item {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.3rem;
}

.menu-item:hover {
  background-color: rgb(39, 39, 202);
  filter: brightness(1.2);
}   

.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}