
.mobileheader {
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileheader__left {
    padding-left: 8px;
}

.mobileheader__right {
    padding-right: 8px;
    color: white;
}

.mobileheader__right > i {
    padding-left: 8px;
}
