
.mobileresume {
    position: fixed;
    background: greenyellow;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 60% 90%);
    -webkit-clip-path: circle(10px at 60% 90%);
    transition: all 0.5s ease-out;
    pointer-events: none;
}

.mobileresume.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}

.mobileresume__child {
    opacity: 0;
    height: 100%;
}

.mobileresume__child.fade {
    opacity: 1;
}

.mobileresume__container {
    width: 95%;
    height: 80%;
    margin: auto;
    margin-top: 12px;
    background-color: white;

}

.mobileresume__container > iframe {
    width: 100%;
    height: 100%;
}