
.mobiledock {
    flex: .12;
    width: 90%;
    height: 12%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 12px;
    align-self: center;
    padding: 2vw;
    padding-bottom: 3vw;
    padding-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    position: fixed;
    bottom: 0;
    height: fit-content;
}
