
.mobileprojects {
    position: fixed;
    background: plum;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 85% 90%);
    -webkit-clip-path: circle(10px at 85% 90%);
    transition: all 0.5s ease-out;
    pointer-events: none;
}

.mobileprojects.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}

.mobileprojects__child {
    opacity: 0;
}

.mobileprojects__child.fade {
    opacity: 1;
}
