
.mobileicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    /* opacity: 1; */
    transition: all 0.1s ease-in-out;
}

.closed {
    opacity: 0.2;
}

.open {
    opacity: 1;
    transition: all .12s ease-in-out;
}

.mobileicon > img {
    height: 20vw;
    width: 20vw;
    max-height: 100px;
    object-fit: contain;
}

.mobileicon > p {
    font-size: 12px;
    background: white;
    padding: 0 5px;
    border-radius: 5px;
}

.mobileicon__link {
    color: black;
}
