
.dock {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.dock__background {
  background-color: var(--bg);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  opacity: .8;
  border: 1px solid darkgray;
  border-bottom: none;
}

.dock__icon {
    margin-bottom: 10px;
    cursor: pointer;
}

.dock__icon h1 {
    font-size: .5rem;
    bottom: 70px;
    background-color: var(--bg);
    opacity: .5;
    color: white;
    border-radius: var(--border-radius);
    padding: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.dock__icon:hover h1 {
    opacity: 1;
    font-size: 1rem;
    transition: all .2s;
}

.dock__icon img {
    max-height: 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

