
.projects {
    width: 100%;
    height: 100%;
    display: flex;
}

.projects__left {
    height: 100%;
    width: 25%;
    background-color: tomato;
}

.projects__right {
    height: 100%;
    width: 75%;
    background-color: yellow;
}
