.projectcontent {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    overflow: scroll;
}

.projectcontent__header {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.projectcontent__headerleft > h1 {
    font-size: 40px;
    background-image: linear-gradient(to right, #f00,#ff0,#0ff,#0f0,#00f);
    /* background-image: linear-gradient(to right, #ea5455,#ffd460,#f07b3f,#2d4059); */
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    background-size: 1000%;
    color: transparent;
}

.projectcontent__headerleft > h2 {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 2px;
    padding-top: 5px;
}

.projectcontent__headerleft > h3 {
    font-size: 12px;
    font-weight: 500;
    color: #909090;
}

.projectcontent_gifcontainer {
    width: 45%;
    float: right;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.projectcontent__iconcontainer {
    background-color: red;
    height: 55px;
    width: 55px;
    border-radius: 35px;
    margin-left: 8px;
}

.projectcontent__headerrighttop {
    display: flex;
}

.projectcontent__headerrighttop > h3 {
    font-size: 12px;
    font-weight: 500;
    color: #909090;
}

.projectcontent__body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
}

.projectcontent_gifcontainer > img {
    min-width: 100%;
    min-height: 100%;
}

.projectcontent__keyfeatures > h2, .projectcontent__challenges > h2 {
    border-bottom: 1px solid #E5E5E5;
    width: 50%;
    padding-bottom: 4px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.projectcontent__feature {
    padding-bottom: 10px;
    font-weight: 400;
    width: 50%;
    font-size: 12px;
}

.projectcontent_challenge {
    list-style-type: circle;
    margin-left: 30px;
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
}

.projectcontent__headerrightbottom {
    display: flex;
    bottom: 0;
    right: 0;
    position: absolute;
}

.projectcontent__button {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #0379FF;
    color: white;
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.projectcontent__button > a {
    font-size: 12px;
    font-weight: 800;
}

.projectcontent__buttonlink {
    color: white;
}