
.window {
    border: 1px solid #1D1D1E;
    border-radius: var(--border-radius);
    width: 75vw;
    max-width: 1100px;
    height: 60vh;
}

.window__projects {
    height: 75vh;
    width: 90vw;
    max-width: unset;
}

.window__top {
    background-color: #232626;
    border: 1px solid #666669;
    border-bottom: none;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 5%;
    /* justify-content: space-between; */
}

.window__name {
    color: white;
    pointer-events: none;
    align-self: center;
    padding: 2px 0px;
}

.window__body {
    background-color: #303744;
    border: 1px solid #666669;
    border-top: 1px solid rgb(34,39,45);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    overflow: scroll;
    height: 96.88%;
}

/* Window Buttons */

.window__buttons {
    padding: 2px;
    position: absolute;
    display: flex;
    left: 0;
    cursor: pointer;
}

.window__buttons div {
    border-radius: 10px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
}

.window__buttons i{
    opacity: 0;
}

.window__buttons:hover i {
    opacity: 1;
}

.window__close {
    background-color: #FD5854;
    border: 1px solid #84020B; 
}

.fa-times {
    color: #84020B;
}

.window__blank {
    background-color: #696A6E;
    border: 1px solid #505050;
}

/* .window__minimize {
    background-color: #FDBC40;
    border: 1px solid #985815;
}

.fa-window-minimize {
    color: #985815;
}

.window__expand {
    background-color: #31C747;
    border: 1px solid #10640F;
}

.fa-expand-alt {
    color: #10640F;

} */